
<ion-view view-title="Todo">
    <ion-nav-buttons side="right">
        <button class="button button-icon" ui-sref="create">
            <i class="icon ion-compose"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <!-- our list and list items -->
        <ion-list>
            <ion-item ng-repeat="task in tasks" can-swipe="true">
                {{task.title}}
		<ion-option-button ng-click="completeTask(task)" class="button-dark" ui-sref="tasks">Complete</ion-option-button> 
            </ion-item>
            <ion-item ng-repeat="ctask in ctasks" ng-model="deleted">
                <s>{{ctask.title}}</s>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
